{% extends 'trick_list/base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3>Add Trick</h3>
			<form action="" method="post">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit">
			</form>	    			
		</div>
		<div class="col-lg-8">
			<div class="table-responsive">	
				<table class="table">
					<thead class="thead-dark">
						<tr>
								<th scope="col">Trick Name</th>
								<th scope="col">Category</th>
								<th scope="col">Date Added</th>
								<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for trick in li %}
						<form action="{% url 'trick_list:trick_delete' id=trick.id %}" method="post">
						{% csrf_token %}
							<tr>
								<th scope="row"><a href="{% url 'trick_list:trick_view' id=trick.id %}">{{trick.name|title}}</a></th>
								<td><a href="{% url 'trick_list:category_view' cat=trick.category %}">{{ trick.category }}</a></td>
								<td>{{trick.date_added|date:"d-m-y"}}</td>
								<td><input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?');"></td>
							</tr>
						</form>
						{% endfor %}
					</tbody>	
				</table>
			</div>	
		</div>
	</div>
</div>
{% endblock %}

